<section class='row'>
  <div class='left'>
    <section class='user-sec'>
      <div class='user'>
    {{#if logged_in}}
      <!-- User is logged in, show Log Out button -->
      <button id='logout-button'>Log Out</button>
    {{else}}
      <!-- User is not logged in, show Log In and Sign Up buttons -->
      <button><a href="./login">Log In</a></button>
      <button><a href="./signup">Sign Up</a></button>
    {{/if}}      
  </div>
    </section>

    <section class='user-sec'>
      <div class='user'>
        <h1><a href="/user/{{loggedOnUser.user_id}}">@{{loggedOnUser.user_name}}</a></h1>
        <br />
        <p>
          {{loggedOnUser.user_bio}}
        </p>
        <br />
        <p>Joined on {{timeago loggedOnUser.joined_on}}</p>
      </div>
    </section>
  </div>

  <div class='center'>
    <section class='cat-sec'>
      {{#each tags}}
      <div class='cat-box'>
        <p>#{{this}}</p>
      </div>
      {{/each}}
    </section>

    {{#if logged_in}}
    <section class='post-sec'>
      <input type='text' class='post-sec-post' id="post-text" />
      <select
        name='tag-select'
        id='tag-select'
        class='post-sec-cat'
        label='category'
        onchange="onSelectTag();"
      >
        <option value=''>add a tag</option>
        {{#each tags}}
        <option value='#{{this}}'>#{{this}}</option>
        {{/each}}
      </select>
      <button id="post-button" onclick="onNewPost();">Post</button>
    </section>
    {{/if}}

    {{#each posts as |post|}}
    <section class='main-sec'>
      <p class='main-sec-interact'>{{format_date post.created_at}}</p>
      <!-- <button class="likeButton">Like</button> -->
      <p class='main-sec-user'><a href="/user/{{post.user_id}}">@{{post.user.user_name}}</a></p>

      <p class='main-sec-post'>
        {{post.post_content}}
      </p>

      <div class='main-sec-stats'>
        <div class='stat-box' onclick="onLikePost({{post.post_id}}, this);">
          <img class='stat-img' width='20px' src='/images/heart.png' />
          <p id="likes-{{post.post_id}}">{{post.likes}}</p>
        </div>
        <div class='stat-box'>
          <img class='stat-img' id='comment-btn' width='20px' src='/images/comment.png' />
          <p>10</p>
          
          <section id="comments-drop">
            Hello
          </section>

        </div>
      </div>
    </section>
    {{/each}}

  </div>

  <div class='right'>
    <section class='trending-sec'>Trending:

{{#each trendingPosts as |trendingPost|}}
    <section class='main-sec'>
      <p class='main-sec-interact'>{{format_date trendingPost.created_at}}</p>
      <!-- <button class="likeButton">Like</button> -->
      <p class='main-sec-user'><a href="/user/{{trendingPost.user_id}}">@{{trendingPost.user.user_name}}</a></p>

      <p class='main-sec-post'>
        {{trendingPost.post_content}}
      </p>

      <div class='main-sec-stats'>
        <div class='stat-box' onclick="onLikePost({{trendingPost.post_id}});">
          <img class='stat-img' width='20px' src='/images/heart.png' />
          <p id="likes-{{trendingPost.post_id}}">{{trendingPost.likes}}</p>
        </div>
      </div>
    </section>
    {{/each}}

    </section>
  </div>
</section>

<script src='/scripts/homepage.js'></script>